
<div class="row" style="height:500px; overflow-y:scroll;">
   <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Actual Price</th>
                              <th>Changed Price</th>
                              <th>Qty</th>
                              <th>Total</th>
                              <th>Remove </th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for cart in carts %}
                          <tr>
                              <td>{{cart.cart_stock.p_name}}</td>
                              <td>{{cart.cart_stock.p_price}}</td>
                              <td><input type="number" value="{{cart.adjust_price}}" hx-post="{% url 'update-cart-price' cart.pk %}" hx-trigger="change" hx-target="#sellResp" name="itemPrice" class="form-control" style="width:100px; height:50px;"></td>
                              <td><input type="number" value="{{cart.qty}}" hx-post="{% url 'update-cart-qty' cart.pk %}" hx-trigger="change" hx-target="#sellResp" name="itemQty" class="form-control" style="width:100px; height:50px;"></td>
                              <td>Ksh {{cart.price}}</td>
                              <td> <a class="btn btn-danger" hx-get="{% url 'del-cart-item' cart.pk %}" hx-target="#sellResp"><i class="fa fa-trash"></i></a></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
  </div>
   <div class="row">
      <table>
          <tbody>
              <tr style="font-weight: bold; font-size: 16px;">
                  <td>Subtotal</td>
                  <td>Ksh {{sub_total}}</td>
              </tr>
              <tr style="font-weight: bold; font-size: 16px;">
                                  <td>Discount</td>
                                  <td>Ksh {{discount}}</td>
                              </tr>
              <tr style="font-weight: bold; font-size: 16px;">
                  <td>VAT(16%)</td>
                  <td>Ksh {{vat}}</td>
              </tr>
              <tr style="font-weight: bold; font-size: 16px;">
                  <td>Total</td>
                  <td>Ksh {{total}}</td>
              </tr>
          </tbody>
      </table>
    </div>
