{% extends 'firstapp/base.html' %}
        
        <!-- Main content -->
    {% block mainContent %}
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                <div class="card">
                  <div class="card-body p-0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10px">ល.រ</th>
                          <th></th>
                          <th></th>
                          <th style="width: 40px"></th>
                          <th style="width: 60px">សរុប</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1.</td>
                          <td>items</td>
                          <td>h</td>
                          <td>7</td>
                          <td>90</td>
                        </tr>
                        <tr>
                          <td>2.</td>
                          <td>items</td>
                          <td>h</td>
                          <td>7</td>
                          <td>90</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                        <label for=""></label>
                        <label for="">(%)</label>
                        <label for=""></label>
                      </div>
                      <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="input-group input-group-sm mb-1">
                          <input type="text" class="form-control" readonly value="0">
                        </div>
                        <div class="input-group input-group-sm mb-1">
                          <input type="text" class="form-control" >
                        </div>
                        <div class="input-group input-group-sm mb-1">
                          <input type="text" class="form-control" readonly value="0">
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <a href="#" class="btn btn-sm btn-info"></a>
                      <a href="#" class="btn btn-sm btn-danger">item</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card p-0 m-0">
                      <div class="card-body p-0 m-0 b-0">
                        <img src="thumbnail/1.png" alt="" class="img-thumbnail">
                      </div>
                      <div class="title">
                        
                      </div>
                      <div class="card-footer cf">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <span class="price">15.0 </span>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <a href="#" class="btn-sm btn btn-info">
                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card p-0 m-0">
                      <div class="card-body p-0 m-0 b-0">
                        <img src="thumbnail/2.png" alt="" class="img-thumbnail">
                      </div>
                      <div class="title">
                        Pesie 
                      </div>
                      <div class="card-footer cf">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <span class="price">15.0 </span>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <a href="#" class="btn-sm btn btn-info">
                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card p-0 m-0">
                      <div class="card-body p-0 m-0 b-0">
                        <img src="thumbnail/4.jpg" alt="" class="img-thumbnail">
                      </div>
                      <div class="title">
                        
                      </div>
                      <div class="card-footer cf">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <span class="price">15.0 </span>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <a href="#" class="btn-sm btn btn-info">
                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card p-0 m-0">
                      <div class="card-body p-0 m-0 b-0">
                        <img src="thumbnail/3.jpg" alt="" class="img-thumbnail">
                      </div>
                      <div class="title">
                        
                      </div>
                      <div class="card-footer cf">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <span class="price">15.0 </span>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <a href="#" class="btn-sm btn btn-info">
                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card p-0 m-0">
                      <div class="card-body p-0 m-0 b-0">
                        <img src="thumbnail/1.png" alt="" class="img-thumbnail">
                      </div>
                      <div class="title">
                   
                      </div>
                      <div class="card-footer cf">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <span class="price">15.0 </span>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <a href="#" class="btn-sm btn btn-info">
                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card p-0 m-0">
                      <div class="card-body p-0 m-0 b-0">
                        <img src="thumbnail/2.png" alt="" class="img-thumbnail">
                      </div>
                      <div class="title">
                        Pesie 
                      </div>
                      <div class="card-footer cf">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <span class="price">15.0 </span>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <a href="#" class="btn-sm btn btn-info">
                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card p-0 m-0">
                      <div class="card-body p-0 m-0 b-0">
                        <img src="thumbnail/4.jpg" alt="" class="img-thumbnail">
                      </div>
                      <div class="title">
                        
                      </div>
                      <div class="card-footer cf">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <span class="price">15.0 </span>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <a href="#" class="btn-sm btn btn-info">
                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card p-0 m-0">
                      <div class="card-body p-0 m-0 b-0">
                        <img src="thumbnail/3.jpg" alt="" class="img-thumbnail">
                      </div>
                      <div class="title">
                      
                      </div>
                      <div class="card-footer cf">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <span class="price">15.0 </span>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <a href="#" class="btn-sm btn btn-info">
                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock mainContent %}
  