{% for product in products %}
<tr>
  
  <td>
    {{product.p_name}}
  </td>
  <td>
      {{product.p_category}}
    </td>
    <td>
      {{product.p_desc}}
    </td>
    <td>
      {{product.p_qty}}
    </td>
    <td>
      {{product.p_price}}
    </td>
    <td>
      {{product.p_cost}}
    </td>
  <td>
    {% if product.p_qty < 5 %}
    <span class="badge badge-danger rounded-pill d-inline">low</span>
    {% else %}
       <span class="badge badge-success rounded-pill d-inline">Active</span>
    {% endif %}
  </td>
  <td>{{product.p_shop.shop_name}}</td>
  <td>{{product.p_creator}}</td>
  <td>
    <a href="{% url 'firstapp-updatestocks' product.p_id %}">
    <button type="button" class="btn btn-link btn-sm btn-rounded">
      Edit
    </button>
    </a>
  </td>
  <td>
    {{product.p_created}}
  </td>
</tr>
{% endfor %}