{% extends 'firstapp/base.html' %}
{% load  crispy_forms_tags %}
{% block mainContent %}

<!-- Button trigger modal -->
<!-- add expenses modal -->
<div class="modal fade" id="addexpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Expenses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <h5 id="dealer" style="color:orange" class="modal-title">description</h5>
                    <textarea  style="background-color:white;" class="form-control" style="color:red" id="desc" rows="5"></textarea>
                    
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="tasksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Expenses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <h5 id="dealer" style="color:orange" class="modal-title">description</h5>
                    <textarea  style="background-color:white;" class="form-control" style="color:red" id="desc" rows="5"></textarea>
                    
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
<div class="container mb-4 main-container">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
                <div class="author-card-cover" style="background-color: grey;"><a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="fa fa-user-circle text-md">Admin</i>&nbsp;</a></div>
                <div class="author-card-profile">
                    <div class="author-card-avatar"><img src="" alt="{{user.username}}">
                    </div>
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg">{{user.username}}</h5><span class="author-card-position"></span>
                    </div>
                </div>
            </div>
            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item active" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-map-plus mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Exp + Debt</div>
                            </div><span class="badge badge-secondary">{{ sum }}</span>
                        </div>
                    </a><a class="list-group-item" href="{% url 'posUsers-profile' %}" target="__blank"><i class="fa fa-money text-muted"></i>Profit </a> >>>> Ksh {{profit}}
                    <a class="list-group-item" href="" tagert="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-plus mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">add Expense </div>
                            </div><span class="badge badge-secondary">{{ expenses | length }}</span>
                        </div>
                    </a>
                    <a class="list-group-item" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase"># Net Profit</div>
                            </div><span class="badge badge-secondary">{{ net_profit }}</span>
                        </div>
                    </a>
                </nav>
            </div>
        </div>
        <!-- Orders Table-->
        <div class="col-lg-8 pb-5">
            <div class="d-flex justify-content-end pb-3">
                <div class="form-inline">
                    <label class="text-muted mr-3" for="order-sort">filter Net</label>
                    <select class="form-control" id="order-sort">
                        {% for exp in expenses %}
                        <option>{{ exp.exp_shop }}</option>
                        {% endfor %}
                      
                       
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
      <th scope="col">shop name</th>
      <th scope="col">Creator</th>
      <th scope="col">date</th>
   
    </tr>
  </thead>
  <tbody>
    {% for exp in expenses %}
    <tr>
      
      <th>{{ exp.exp_id }}</th>
      <th>{{ exp.exp_amount }}</th>
      <th><button type="button" onclick="view('{{exp.exp_desc}}')" class="btn btn-primary" >
  <i class="fa fa-eye"></i>
</button></th>
      <th>{{ exp.exp_shop }}</th>
      <th>{{ exp.exp_creator }}</th>
      <th>{{ exp.exp_date }}</th>


    </tr>
    {% endfor %}
  </tbody>
</table>
            </div>
        </div>
    </div>
</div>

<script>
    
// view task description in a modal

     function view(desc){     
        $(document).ready(function() {
                $("#tasksModal").modal("show");
                                    
                });

                    document.getElementById("desc").innerHTML=desc
                    
                               
            }


</script>
{% endblock mainContent %}