{% extends 'firstapp/base.html' %}

{% block mainContent %}
<style>
    div {
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input {
  background-color: #383a47;
  border: none;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
}

#container {
  margin: 0 auto;
  width: 500px;
}

#overview {
  background-color: #383a47;
  height: 100px;
  width: 100%;
}

#overview div {
  background-color: rgba( 255, 255, 255, 0.2);
  float: left;
  height: 100px;
  padding: 15px 0 0 0 ;
  width: 33.33%;
}

#overview p {
  color: rgba( 255, 255, 255, 0.9 );
  font: 20px/10px sans-serif;
  text-align: center;
}

#overview .balance {
  border-top: 6px solid aqua;
}

#overview .spending {
  border-top: 6px solid #E74C3C;
}

#overview .income {
  border-top: 6px solid aqua;
}

.entry {
  background-color: #383a47;
  border-bottom: 1px solid rgba( 255, 255, 255, 0.1);
  height: 40px;
  padding: 0 0 0 0;
  width: 1000px;
}

.entry.new{
  background-color: #383a47;
  border-bottom: 1px solid rgba( 255, 255, 255, 0.1);
  height: 40px;
  padding: 0 0 0 0;
  width: 800px;
}

.entry div {
  color: rgba( 255, 255, 255, 0.6 );
  font: 14px/40px sans-serif;
  float: left;
  padding: 0 10px 0 10px;
  
}

.entry input {
  border-bottom: 5px solid aqua;
  border-top: 5px solid aqua;
  color: rgba( 255, 255, 255, 0.6 );
  font: 14px/40px sans-serif;
  float: left;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  width:250px;
}

input.date {
  border-left: 5px solid aqua;
}

input.amount{
  border-left: none;
}

.date {
  width: 115px;
}

.note {
  background-color: rgba( 255, 255, 255, 0.2);
  width: 240px;
}

.income .amount {
  border-left: 4px solid aqua;
}

.spending .amount {
  border-left: 4px solid #E74C3C;
}

.amount {
  border-left: 4px solid aqua;
  width: 105px;
}

.remove-button,
.add-button {
  background-color: rgba( 255, 255, 255, 0.2);
  color: #fff !important;
  font: 20px/40px sans-serif !important;
  height: 40px;
  text-align: center;
  width: 40px;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remove-button:hover{
  background-color: rgba( 255, 255, 255, 0.3);
}

.add-button {
  background-color: orange;
}

.add-button:hover {
  background-color: aqua;
}


h1 {
  color: rgba(0, 0, 0, .4);
  font: 40px/25px sans-serif;
  margin: 0;
  padding:0;
}

h2 {
  color: rgba( 255, 255, 255, 0.9 );
  font: 30px/25px sans-serif;
  margin: 0;
  padding:0;
  text-align: center;
}
</style>

<div class="modal fade" id="updateExp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color:green" class="modal-title" id="exampleModalLabel">================Edit expenses===============</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table  id="shopsTab" class="table table-striped" style="margin-left:10px">
          <div id="spins" class="d-flex justify-content-center">

          </div>
          <tbody >
            <tr>
              <form>
                <tr style="background-color:white">
                  <input type="hidden" id="id_edit">
                  date &nbsp;<input style="background-color:white" type="date" id="date_edit" >
                  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                  amnt &nbsp;<input style="background-color:white" type="number" id="amount_edit" >
                  <input style="background-color:black; color:white; width:460px" type="text" id="desc_edit" >
                  
              </tr>
               
                <td><button type="button" id="upBtn" class="btn btn-success">Update</button></td>
               
                </form>
            </tr>  
          </tbody>
        </table>
       
      </div> 
    </div>
  </div>
</div>
<div id="container" style="background-color:aqua; width:800px">
  <p id="datas"></p>
    <div id="overview">
      <div class="balance">
        <h2> Balance </h2>
        <h5 style="margin-top:30px;color:white">Ksh {{net_profit}}</h5>
      </div>
      
      <div class="spending" style="background-color:red">
        <h2> Spending </h2>
        
        <h5 style="margin-top:30px">Ksh {{sum}}</h5>
        
      </div>
      
      <div class="income"  style="background-color:#008000">
        <h2> Profit </h2>
        <h5 style="margin-top:30px; color:white">Ksh {{profit}}</h5>
      </div>
      
    </div>
    
    <div class="entry new" style="width:800px" >

      <input type="date" id="date" class="date" placeholder="10/16/1986" />
      <input type="text" id="desc" class="note" placeholder="Desc"/>
      <input type="number" id="amount" class="amount" placeholder="Ksh 800"/>
      <div id="add-transaction" class="add-button">+</div>
      
    </div>
    {% for expense in expenses %}
  
    <div class="entry new" style="width:800px"  >

      <input type="text" id="date" class="date" value="{{expense.exp_date}}"  />
      <input type="text" id="desc" class="note" value="{{expense.exp_desc}}" />
      <input type="number" id="amount" class="amount" value="{{expense.exp_amount}}" />
      <button type="button" onclick="updateModal('{{expense.exp_id}}','{{expense.exp_date}}','{{expense.exp_desc}}','{{expense.exp_amount}}');"><i class="fa fa-wrench"></i></button>
     
      
    </div>
    {% endfor %}
    
    
    <div id="sheet">
      
    </div>
</div>
  

  <script>
    "use strict";

var $balance = $('#overview .balance p'),
    $spending = $('#overview .spending p'),
    $income = $('#overview .income p'),
    $sheet = $('#sheet'),
    sheet = [],
    transaction = {
      date: '',
      description: '',
      amount: 0
    },
    transactionHTML = '<div style="width:800px" id=" {id} " class="entry {class} "><div class="date"> {date} </div><div class="note"> {description} </div><div class="amount"> {amount} </div><div class="remove-button">-</div></div>',
    spendingClass = 'spending',
    incomeClass = 'income';

// Sum
//This would ordinarily be provided by ajax so that the whole ledger is accounted for rather than just the current page.
function UpdateSums () {
  var spending = 0,
      income = 0;
  
  for(var i =0; i < sheet.length; i += 1){
    if(sheet[i].amount >= 0) {
      income += sheet[i].amount;
    } else {
      spending += sheet[i].amount;
    }
  }

  $balance.text((income + spending).toFixed(2));
  $income.text(income.toFixed(2));
  $spending.text(spending.toFixed(2));
}

//RenderTable
function RenderTable() {
  ClearRenderSpace();
  
  for(var i = (sheet.length - 1); i >= 0; i -= 1) {
    var thisTrans = transactionHTML;

    if(sheet[i].amount >= 0) {
      thisTrans = thisTrans.replace('{class}', incomeClass);
    } else {
      thisTrans = thisTrans.replace('{class}', spendingClass);
    }
        
    thisTrans = thisTrans.replace('{id}', i.toString())
    .replace('{date}', sheet[i].date)
    .replace('{description}', sheet[i].description)
    .replace('{amount}', sheet[i].amount.toFixed(2));
    
    $sheet.append(thisTrans);
  }
  
  $('.remove-button').on('click', function () {
    console.log(this);
    RemoveTransaction($(this).parent().attr('id'));
  });
}





function ClearRenderSpace() {
  $('.remove-button').unbind('on', RemoveTransaction);
  $sheet.html('');
}

function Add(date, description, amount){
  if(date && description && amount){
    var trans = Object.create(Object.getPrototypeOf(transaction));
    trans.date = date;
    trans.description = description;
    trans.amount = parseFloat(amount);
    trans.id = sheet.length;
    
    sheet.push(trans);
    console.log(trans);
    UpdateSums();
    RenderTable();
  } else {
    alert('You fill all fields to add to the ledger');
  }
}

function RemoveTransaction(id) {
  sheet.splice(parseInt(id), 1);
  UpdateSums();
  RenderTable();
}

function Init(){
  UpdateSums();
  RenderTable();
  $('#add-transaction').on('click', function () {
    Add(
      $('.new .date').val(),
      $('.new .note').val(),
      $('.new .amount').val()
    );
   
   $.get("{% url 'firstapp-financeadd' %}",{
      date:$('#date').val(),
      desc:$('#desc').val(),
      amount:$('#amount').val()
     

   },
   function(data,status){
      alert("confirmed added")
   }

   )
  });
}

Init();

// update modal function, updates expenses in the ledger

function updateModal(id,date,desc,amount){

  $("#updateExp").modal("show");

  $("#id_edit").val(id)
  $("#date_edit").val(date)
  $("#desc_edit").val(desc)
  $("#amount_edit").val(amount)

  $(document).ready(function(){

$("#upBtn").click(function(){

  $.ajax({

  type: "POST",
  url: "{% url 'firstapp-financeupdate' %}",
  data:{

    id_edited:$("#id_edit").val(),
    date_edited: $("#date_edit").val(),
    desc_edited:$("#desc_edit").val(),
    amount_edited: $("#amount_edit").val(),
    csrfmiddlewaretoken:'{{ csrf_token }}'
    
  },
  success:function(data,status){

    alert(data["date"])
  }
  })
})
})

}
  </script>


{% endblock mainContent %}