
 {% extends 'firstapp/base.html' %}       
        <!-- Main content -->
    {% block mainContent %}
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
             
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-dark">
                  <div class="inner">
                    <h3>KES {{orders}}</h3>
                    
                    <p>Today profit</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a href="#" class="small-box-footer">view more <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>KES {{amount}}<sup style="font-size: 20px"></sup></h3>
                    
                    <p>Today Amount</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="#" class="small-box-footer">view more <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                  <div class="inner">
                    <h3>{{ sales }}</h3>
                    
                    <p>Today qty Sales</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  <a href="{% url 'firstapp-sales' %}" class="small-box-footer">view more<i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3>{{ stocks }}</h3>
                    
                    <p>Stock Levels</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="{% url 'firstapp-stocks' %}" class="small-box-footer">view more <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
         
              
              <!-- ./col -->
            </div>

            <div class="row">
              <div class="col-lg-3 col-12" style="height:230px;overflow-x: hidden;">
                <!-- small box -->
                <div class="small-box bg-white">
                  <div class="inner">
                    <h6>current stocks</h6>
                  
                    <table class="table align-middle mb-0 bg-white" style="margin-left:10px" id="stocks">
                      <thead class="bg-light">
                        <tr>
                          
                          <th>Item</th>
                          <th>Qty</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in stocks_items %}
                        <tr>
                            <td>{{item.p_name}}</td>
                            <td>{{item.total_qty}}</td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  
                    
                  </div>
                  <div class="icon">
                    <i class="fa fa-warehouse"></i>
                  </div>
                  <a href="{% url 'firstapp-stocks' %}" class="small-box-footer">view more <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-3 col-12" style="height:230px;overflow-x: hidden;">
                <!-- small box -->
                <div class="small-box bg-white">
                  <div class="inner">
                    <h4>today sales</h4>
                    <table class="table align-middle mb-0 bg-white" data-page-length='5' id="today-sales">
                      <thead class="bg-light">
                        <tr>
                          
                          <th>Item</th>
                          <th>Qty</th>
                          <th>Amount</th>
                          <th>Profit</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for sale in today_sales %}
                        <tr>
                            <td>{{sale.s_name}}</td>
                            <td>{{sale.total_qty}}</td>
                            <td>{{sale.total_price}}</td>
                            <td>{{sale.total_profit}}</td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                    
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="{% url 'firstapp-sales' %}" class="small-box-footer">view more <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-3 col-12" style="height:230px;overflow-x: hidden;">
                <!-- small box -->
                <div class="small-box bg-white">
                  <div class="inner">
                    <h6>MTD sales</h6>
                   <table class="table align-middle mb-0 bg-white" id="sales">
                            <thead class="bg-light">
                              <tr>
                                
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Amount</th>
                                <th>Profit</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              {% for sale in month_sales %}
                              <tr>
                                  <td>{{sale.s_name}}</td>
                                  <td>{{sale.total_qty}}</td>
                                  <td>{{sale.total_price}}</td>
                                  <td>{{sale.total_profit}}</td>
                              </tr>
                              {% endfor %}
      
                            </tbody>
                         
                    </table>
                    
                  </div>
                  
                  <a href="{% url 'firstapp-sales' %}" class="small-box-footer">view more <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>

              <div class="col-lg-3 col-12" style="height:230px;overflow-x: hidden;">
                <!-- small box -->
                <div class="small-box bg-white">
                  <div class="inner">
                    <strong>shop sales</strong>
                    <table class="table align-middle mb-0 bg-white"  style="height:200px;overflow-x: scroll;" id="sales2">
                      <thead class="bg-light">
                        <tr>
                          
                          <th>Shop</th>
                          <th>Qty</th>
                          <th>Amount</th>
                          <th>Profit</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for sale in shop_sales %}
                        <tr>
                            <td>{{sale.s_shop}}</td>
                            <td>{{sale.total_qty}}</td>
                            <td>{{sale.total_price}}</td>
                            <td>{{sale.total_profit}}</td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                    
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="{% url 'firstapp-sales' %}" class="small-box-footer">view more <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
         
              <div class="row">
                <div class="col-lg-3 col-12" style="height:300px;overflow-x:hidden" id="bar1">
            
                </div>
                <div class="col-lg-3 col-12" style="height:300px;overflow-x:hidden" id="bar2">
                  
                </div>
                <div class="col-lg-3 col-12" style="height:300px;overflow-x:hidden" id="bar3">
                  
                </div>
                <div class="col-lg-3 col-12" style="height:300px;overflow-x:hidden" id="pie1">
                  
                </div>
              </div>
           
<!---->
          <div class="row">
              
              <div class="col-lg-3 col-6" style="display:none">

               <div class="small-box bg-outline">
                <h4 id="status" style="margin-left:50px;"> status </h4>
            <button type="button" id="cBtn" onclick="getLoc()" class="btn btn-secondary btn-circle btn-xl"><span id="clockBtn">time</span></button>
              </div>

               
                
              </div>



             
             
                 
             </div>
            

          </div>
        </section>

            <style>
                  .btn-circle.btn-xl {
            width: 150px;
            height: 100px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
            margin-left: 50px;
            margin-top:20px;
            margin-bottom: 40px;
            vertical-align: middle;
            
        }

            </style>

            <script>

              function getLoc(){
                  
              

                  if (navigator.geolocation){

                     navigator.geolocation.getCurrentPosition(sendLoc)
                  }else{
                    alert("failed")
                  }
              }

              function sendLoc(position){

                var lat = position.coords.latitude
                var long = position.coords.longitude

                $.ajax({

                type:"POST",
                url: "{% url 'firstapp-location' %}",

                data: {

                  lat:lat,
                  long:long,
                  csrfmiddlewaretoken:'{{ csrf_token }}'
                },

                success:function(data,status){

                    alert("clock in successfully")
                }

                })

                

              }

              function errorLoc(error){

                if (error.PERMISSION_DENIED){

                   alert("access denied")
                }
              }
              
             // creatint the clock 
              setInterval(showTime, 1000);
              function showTime() {
                  let time = new Date();
                  let hour = time.getHours();
                  let min = time.getMinutes();
                  let sec = time.getSeconds();
                  am_pm = "AM";
                
                  if (hour > 12) {
                      hour -= 12;
                      am_pm = "PM";

                  }
                  if (hour == 0) {
                      hr = 12;
                      am_pm = "AM";

                  }
                  if(hour > 8){

                       document.getElementById('status').innerHTML = "late"
                       document.getElementById('status').style.color = "red"
                       document.getElementById('cBtn').style.background = "red"

                  }
                
                  hour = hour < 10 ? "0" + hour : hour;
                  min = min < 10 ? "0" + min : min;
                  sec = sec < 10 ? "0" + sec : sec;
                
                  let currentTime = hour + ":" 
                          + min + ":" + sec + am_pm;
                
                  document.getElementById("clockBtn")
                          .innerHTML = currentTime;
              }
              showTime();


          // update confirmed tasks 

          $(document).ready(function() {
$('#sales').DataTable( {
    "lengthMenu": [[2,5], [2,5]]
} );
          })
          $(document).ready(function() {
$('#today-sales').DataTable( {
    "lengthMenu": [[2,5], [2,5]]
} );

$(document).ready(function() {
$('#sales2').DataTable( {
    "lengthMenu": [[2,5], [2,5]]
} );
          })
          })
          

          $(document).ready(function() {
$('#stocks').DataTable( {
    "lengthMenu": [[2,5], [2,5]]
} );
          })




// =============================chart1================================
var bar1 = document.getElementById("bar1")
var stocks = {
  x: {{items | safe }},
  y: {{stoks | safe}},
  name: 'stocks',
  type: 'bar'
};

var sales = {
  x: {{items | safe }},
  y:  {{salez | safe}},
  name: 'sales',
  type: 'bar'
};

var data = [stocks, sales];

var layout = {barmode: 'group'};

Plotly.newPlot(bar1, data, layout);

// ======================chart2==========================
var bar2 = document.getElementById("bar2")
var stocks = {
  x: {{items | safe }},
  y: {{stoks | safe}},
  name: 'stocks',
  type: 'bar'
};

var sales = {
  x: {{items | safe }},
  y:  {{salez | safe}},
  name: 'sales',
  type: 'bar'
};

var data = [stocks, sales];

var layout = {barmode: 'stack'};

Plotly.newPlot(bar2, data, layout);

//================chart3===================

var bar3 = document.getElementById("bar3")

var seller = {
  x:{{seller | safe}},
  y:{{seller_qty | safe}},
  type:'bar'
}

var seller  = [seller]
Plotly.newPlot(bar3,seller)

//==========chart 4====================

var pie1 = document.getElementById("pie1")

var data = [{
  values: {{shop_qty | safe}},
  labels: {{shop_name | safe}},
  type: 'pie'
}];

var layout = {
  height: 350,
  width: 450
}

Plotly.newPlot(pie1, data, layout);

</script>

 
            
          
    {% endblock mainContent %}

  