{% extends 'firstapp/base.html' %}      
        <!-- Main content -->
    {% block mainContent %}
<style>
 

canvas {
  border: 1px dotted red;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 50vh;
  width: 80vh;
}

</style>
<a style="margin-left:20px" ><i class="fa fa-cogs"></i></a>
&nbsp; &nbsp;
<input type="color" id="colors"> <button onclick="applyCol();" type="button" class="btn btn-success">set color</button>
<br><br>

<div class="container" style="overflow-x: hidden; margin-top:0px">
  <div class="row">
    <div class="col">
      <div id="c1" class="chart-container" style="background-color:white; color:black; margin-left: 50px;">
        <canvas id="chart"></canvas>
    </div>
    </div>
    <div id="c2" class="col" style="background-color:white; margin-right:50px">
      <div class="chart-container">
        <canvas id="chart3"></canvas>
    </div>
    </div>
    
    
  </div>
  <br>
  <div class="row">
    
    <div class="container" id="c3" style="background-color:white; height:300px; margin-left: 50px; margin-right:50px; margin-bottom: 30px;">
      <canvas id="chart2"></canvas>
  </div>
  </div>
</div>
     
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>
         var data = {
  labels: {{labels | safe }},
  datasets: [{
    label: "items profits",
    backgroundColor: "rgba(255,99,132,0.2)",
    borderColor: "rgba(255,99,132,1)",
    borderWidth: 2,
    hoverBackgroundColor: "rgba(255,99,132,0.4)",
    hoverBorderColor: "rgba(255,99,132,1)",
    data:{{data | safe }},
  }]
};

var options = {
  maintainAspectRatio: false,
  scales: {
    y: {
      stacked: true,
      grid: {
        display: true,
        color: "rgba(255,99,132,0.2)"
      }
    },
    x: {
      grid: {
        display: false
      }
    }
  }
};

new Chart('chart', {
  type: 'bar',
  options: options,
  data: data
});
// end of chart 1
var data = {
  labels: {{labels | safe }},
  datasets: [{
    label: "items profits",
    backgroundColor: "rgba(255,99,132,0.2)",
    borderColor: "rgba(255,99,132,1)",
    borderWidth: 2,
    hoverBackgroundColor: "rgba(255,99,132,0.4)",
    hoverBorderColor: "rgba(255,99,132,1)",
    data:{{data | safe }},
  }]
};

var options = {
  maintainAspectRatio: false,
  scales: {
    y: {
      stacked: true,
      grid: {
        display: true,
        color: "rgba(255,99,132,0.2)"
      }
    },
    x: {
      grid: {
        display: false
      }
    }
  }
};

new Chart('chart2', {
  type: 'line',
  options: options,
  data: data
});

// end of chart 2
var data = {
  labels: {{labels | safe }},
  datasets: [{
    label: "items profits",
    backgroundColor: "rgba(255,99,132,0.2)",
    borderColor: "rgba(255,99,132,1)",
    borderWidth: 2,
    hoverBackgroundColor: "rgba(255,99,132,0.4)",
    hoverBorderColor: "rgba(255,99,132,1)",
    data:{{data | safe }},
  }]
};

var options = {
  maintainAspectRatio: false,
  scales: {
    y: {
      stacked: true,
      grid: {
        display: true,
        color: "rgba(255,99,132,0.2)"
      }
    },
    x: {
      grid: {
        display: false
      }
    }
  }
};

new Chart('chart3', {
  type: 'horizontalBar',
  options: options,
  data: data
});

function applyCol(){
   document.getElementById("c1").style.backgroundColor = $("#colors").val()
   document.getElementById("c2").style.backgroundColor = $("#colors").val()
   document.getElementById("c3").style.backgroundColor = $("#colors").val()
}

       </script>
    {% endblock mainContent %}