{% extends 'firstapp/base.html' %}      
        <!-- Main content -->
    {% block mainContent %}
    
    <!-- Button trigger modal -->
<button style="margin-left:10px; border:0px" type="button"  data-toggle="modal" data-target="#dateModal">
 <i class="fa fa-filter"></i>by date
</button>
<a id="downTab" style="margin-left:650"><i class="fa fa-download"></i></a>

<!-- ================filter Modal============== -->

<div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#24a0ed">
        <h5 class="modal-title" id="exampleModalLabel">filter by date</h5>
        <div id="spinners" class="spinner-border" role="status" style="margin-left:150px; display:none">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        
           <label>from</label>
           <input type="date" name="date1" id="date1">
           <label>To</label>
           <input type="date" name="date2" id="date2">
           <button type="button" id="filtForm">filter</button>
        
      </div>
    </div>
  </div>
</div>

<!--===============================return item modal===========================-->

<div class="modal fade" id="returnsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="False">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">items info</h5>
        <div id="spinner-return" class="spinner-border" role="status" style="margin-left:150px; display:none">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="item_id"></p>
         <input type="text" id="item_name">
         <input type="number" id="item_qty">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="returnBtn">return</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
  </div>

  <!-- ============================================================================================================-->


    <input style="margin-left:620px" list="stocksList" id="pname" name="pname" placeholder="search product here..." />
    <br><br>
    <datalist id="stocksList">
          {% for sale in sales %}
          <option value="{{sale.s_name}}">{{sale.s_name}}</option>
          {% endfor %}
    </datalist>
    
    <table class="table align-middle mb-0 bg-white" style="margin-left:10px" id="sales">
        <thead class="bg-light">
          <tr>
            
            <th>Serial</th>
            <th>Name</th>
            <th>shop</th>
            <th>Qty</th>
           
            <th>price</th>
            <th>profit</th>
            <th>Status</th>
            <th>Created</th>
            <th>Actions</th>
            <th>Person</th>
          </tr>
        </thead>
        <tbody id="sales">
            {% for sale in sales %}
          <tr>
            
            <td>
              {{sale.s_serial}}
            </td>
            <td>
                {{sale.s_name}}
              </td>
              <td>
                {{sale.s_shop.shop_name}}
              </td>
              <td>
                   {{sale.s_qty}}
              </td>
              
              <td>
                {{sale.s_price}}
              </td>
              <td>
                {{sale.s_profit}}
              </td>
            <td>
              {% if sale.s_status == "sold" %}
              <span style="background-color:red" class="badge badge-success rounded-pill d-inline">sold</span>
              {% else %}
              <span style="background-color:yellow" class="badge badge-success rounded-pill d-inline">returned</span>
              {% endif %}
            </td>
            <td>{{sale.s_created}}</td>
            <td>
        
              <button type="button" onclick="returnModal('{{sale.s_id}}','{{sale.s_qty}}','{{sale.s_name}}')" class="btn btn-link btn-sm btn-rounded">
                <i class="fa fa-undo">return</i>
              </button>
              
            </td>
            <td>
              {{sale.s_creator.username}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
       

            
      </table>
    <!--
        <div style="margin-left:20px">
          {% if page_obj.has_previous %}
              <a class="btn btn-info mb-4" href="?page=1">first</a>
              <a class="btn btn-info mb-4" href="?page={{page_obj.previous_page_number}}">prev</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
             {% if page_obj.number == num %}

                  <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                  
              {% elif num > page_obj.number|add:'-2' and  num < page_obj.number|add:'2' %}

                  <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>                    
              {% endif %}

             
          {% endfor %}
          
          {% if page_obj.has_next %}

              <a class="btn btn-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
              <a class="btn btn-info mb-4" href="?page={{page_obj.paginator_num_pages}}">Last</a>

          {% endif %}
        </div>
      -->
      
      <script>
        $(document).ready(function(){
        $("#pname").on("keyup",function(){
            var value=$(this).val().toLowerCase();
            $("#sales tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

// handle post requests
$(document).ready(function(){

$("#filtForm").click(function(){

     $.ajax({
       type: "POST",
       url: "{% url 'firstapp-salespost' %}",
       data:{
         date1: $("#date1").val(),
         date2: $("#date2").val(),
         csrfmiddlewaretoken:'{{ csrf_token }}'

       },
       beforeSend:function(){

            $("#spinners").show()
       },
       complete:function(){
           $("#spinners").hide()
       },
       success:function(data,status){
          var info = JSON.parse(data)
          $("#sales").html('')
          for( var key in info){
            $("#sales").prepend(

            `
            <tr>
                  <td>${info[key]["fields"]["s_serial"]}</td>
           
                    <td>${info[key]["fields"]["s_name"]}</td>
                    <td>${info[key]["fields"]["s_shop"]}</td>
                    <td>${info[key]["fields"]["s_cost"]}</td>
                    <td>${info[key]["fields"]["s_price"]}</td>
                    <td>${info[key]["fields"]["s_profit"]}</td>
                    <td>
              <span style="background-color:red" class="badge badge-success rounded-pill d-inline">sold</span>
            </td>
                    <td>${info[key]["fields"]["s_created"]}</td>
                    
                    
                   
                   <td>
              <a href="">
              <button type="button" class="btn btn-link btn-sm btn-rounded">
                <i class="fa fa-undo">return</i>
              </button>
              </a>
              </td>
              <td>${info[key]["fields"]["s_creator"]}</td>
                  </tr>

            `


            )
            //alert(info[key]["fields"]["p_serial"])
          }
       }



     })
})


})

    function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

// html table converted to csv format

function export_table_to_csv(html, filename) {
	var csv = [];
	var rows = document.querySelectorAll("table tr");
	
    for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");
		
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
		csv.push(row.join(","));		
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.getElementById("downTab").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    var now = new Date().toLocaleDateString()
    var fileName = 'sales' + now
	export_table_to_csv(html, fileName);
});

// modal button triggered

function returnModal(id,qty,name){     
        $(document).ready(function() {
                $("#returnsModal").modal("show");
                                    
                });

                    document.getElementById("item_id").innerHTML=id
                    document.getElementById("item_qty").value=qty
                    document.getElementById("item_name").value=name
                    
                               
            }

// pass item info to be passed 

$(document).ready(function(){

  $("#returnBtn").click(function(){

      $.ajax({
        type:"post",
        url:"{% url 'firstapp-salesreturn' %}",
        data:{

                id:$("#item_id").text(),
                name:$("#item_name").val(),
                qty:$("#item_qty").val(),
                csrfmiddlewaretoken:'{{ csrf_token }}'

        },
        beforeSend:function(){

          $("#spinner-return").show()
        },
        complete: function(){
        
          $("#spinner-return").hide()
        },
        success:function(data,status){

          if(data["success"]){

             alert(data["success"])
          }else{

            data["error"]
          }


        }
      })
  })
  
})

// columns summations

function summary(){

  var qtySum = 0;
  var revSum = 0;
  var profSum = 0;
  $("#sales tr").each(function(){
              qtySum += parseFloat($(this).find("td:eq(3)").text());
              revSum += parseFloat($(this).find("td:eq(5)").text());
              profSum += parseFloat($(this).find("td:eq(6)").text());
          });
    $("#qtysums").val(qtySum)
    $("#revenues").val(revSum)
    $("#profits").val(profSum)
}

summary()



</script>
      

    {% endblock mainContent %}