{% extends 'firstapp/base.html' %}  



{% block mainContent %}
<style>

    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1
    }
    .htmx-request.htmx-indicator{
        opacity:1
    }
 .modal-backdrop.fade.show{
   display:none;
 }
</style>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="invoiceModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Invoice Details</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="invoiceCreateResp" style="margin-right:40px;">

      </div>
      <div>
        <div id="invoiceCreateSpinner" class="spinner-border htmx-indicator" role="status" style="margin-left:150px; display:none">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="modal-body">
        <form hx-post="{% url 'cart-to-invoice' %}" hx-target="#invoiceCreateResp" hx-indicatot="#invoiceCreateSpinner" hx-swap="innerHTML" method="post">
            {% csrf_token %}
          <div class="form-group">
            <label for="customer-name" class="col-form-label">Customer Name/Company Name:</label>
            <input type="text" class="form-control" name="customer-name" required>
          </div>
          <div class="form-group">
            <label for="customer-name" class="col-form-label">Email:</label>
            <input type="email" class="form-control" name="customer-email" required>
          </div>
           <div class="form-group">
            <label for="customer-phone" class="col-form-label">Phone:</label>
            <input type="text" class="form-control" name="customer-phone" required>
          </div>
          <div class="form-group">
            <label for="customer-address" class="col-form-label">Address:</label>
            <input type="text" class="form-control" name="customer-address" required>
          </div>
          <div class="form-group">
            <label for="customer-other-details" class="col-form-label">Other Details:</label>
            <textarea class="form-control" name="customer-other-details" required></textarea>
          </div>
          <div class="form-group">
           <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
</div>
<div class="container">

    <div class="row row-cols row-cols-lg-2">
        <div class="col">
            <div class="row">
            <div class="d-flex">
                <div class="col-3">
                    <input class="form-control" type="text" hx-post="{% url 'search-by-scan' %}" hx-target="#filterResp" hx-indicator="#searchSpinner"  hx-trigger="change" name="serial" placeholder="scan" >
                </div>
                <div class="col-3">
                    <input class="form-control" type="text" hx-post="{% url 'search-by-name' %}" hx-target="#filterResp" hx-indicator="#searchSpinner" hx-trigger="keyup changed delay:1s" name="name" placeholder="search by name">
                </div>
                <div class="col-3">
                    <input class="form-control" type="text" hx-post="{% url 'search-by-category' %}" hx-target="#filterResp" hx-indicator="#searchSpinner" hx-trigger="keyup changed delay:1s" name="category" placeholder="search by category">
                </div>
                <div class="col-3">
                    <input class="form-control" type="text" hx-post="{% url 'search-by-desc' %}" hx-target="#filterResp" hx-indicator="#searchSpinner" hx-trigger="keyup changed delay:1s" name="desc"  placeholder="search by description">
                </div>
            </div>
        </div>

        <br>
        <div id="searchSpinner" class="htmx-indicator">
        <div class="spinner-grow spinner-grow-sm" ></div>
        <p>Searching..</p>
        </div>
           
        <div style="height:800px; overflow-y:scroll">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th> category </th>
                    <th> Description </th>
                    <th>Price </th>
                    <th>Qty </th>
                    <th> Status </th>
                    <th> sell </th>
                    </tr>
                </thead>

                <tbody id="filterResp">
                    {% for stock in stocks %}
                    <tr>
                        <td>{{stock.p_name}}</td>
                        <td>{{stock.p_category}}</td> 
                        <td>{{stock.p_desc}}</td>
                        <td>{{stock.p_price}}</td>
                        <td>{{stock.p_qty}}</td>
                        {% if stock.p_qty > 5 %}
                        <td><strong style="color:green">high</strong></td>
                        {% else %}
                        <td><strong style="color:red">high</strong></td>
                        {% endif %}
                       <td><a hx-get="{% url 'add-to-cart' stock.pk %}" hx-target="#sellResp" class="btn btn-primary">sell


                       </a>
                    </tr>

                    {% endfor %}

                </tbody>


            </table>
        </div>
        
        </div>

        <div class="col">
            <h4>Cart Items </h4>
            <div id="dispResp">
            </div>
            <div class="row">

                
                <div class="col-sm-3">
                <a class="btn btn-light" hx-get="{% url 'print-cart-receipt' %}" hx-target="#receiptResp" id="receipt-btn">
                <i class="fa fa-print"></i>Receipt
                </a>
                <div id="receiptResp" style="display:none">
                </div>
            </div>
           
            <div class="col-sm-3" >
                <a class="btn btn-light" onclick="checkoutAndReceipt()">
                <i class="fa fa-check"></i>checkout 
                </a>
                <div class="spinner-border htmx-indicator" id="checkoutSpin" role="status">
                    <span class="sr-only">adding..</span>
                </div>
            </div>

             <div class="col-sm-3" style="display:none">
                <a class="btn btn-light" hx-get="{% url 'cart-to-sales' %}" hx-target="#sellResp" hx-indicator='#checkoutSpin' id="check-out-btn">
                <i class="fa fa-check"></i>checkout 
                </a>
                <div class="spinner-border htmx-indicator" id="checkoutSpin" role="status">
                    <span class="sr-only">adding..</span>
                </div>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-light" hx-get="{% url 'clear-cart' %}" hx-target="#sellResp" hx-indicator='#clearSpin'>
                <i class="fa fa-trash"></i>clear
                </a>
                <div class="spinner-border htmx-indicator" id="clearSpin" role="status">
                    <span class="sr-only">del..</span>
                </div>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-warning" id="invoice-btn" onclick="showInvoiceModal()">
                <i class="fa fa-credit-card"></i>Invoice
                </a>
                <div class="spinner-border htmx-indicator" id="invoiceSpin" role="status">
                    <span class="sr-only">del..</span>
                </div>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-light" onclick="location.reload()">
                <i class="fa fa-refresh"></i>Refresh
                </a>
               
            </div>
            </div>
            <br>

            <div class="col" id="sellResp">
                <div class="row" style="height:500px; overflow-y:scroll;" id="nosalesRep">
                    <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Actual Price</th>
                              <th>Changed Price</th>
                              <th>Qty</th>
                              <th>Total</th>
                              <th>Remove </th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for cart in carts %}
                          <tr>
                              <td>{{cart.cart_stock.p_name}}</td>
                              <td>{{cart.cart_stock.p_price}}</td>
                              <td><input type="number" value="{{cart.adjust_price}}" hx-post="{% url 'update-cart-price' cart.pk %}" hx-trigger="change" hx-target="#sellResp" name="itemPrice" class="form-control" style="width:100px; height:50px;"></td>
                              <td><input type="number" value="{{cart.qty}}" hx-post="{% url 'update-cart-qty' cart.pk %}" hx-trigger="change" hx-target="#sellResp" name="itemQty" class="form-control" style="width:100px; height:50px;"></td>
                              <td>Ksh {{cart.price}}</td>
                              <td> <a class="btn btn-danger" hx-get="{% url 'del-cart-item' cart.pk %}" hx-target="#sellResp"><i class="fa fa-trash"></i></a></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                   <div class="row">
                      <table>
                          <tbody>
                              <tr style="font-weight: bold; font-size: 16px;">
                                  <td>Subtotal</td>
                                  <td>Ksh {{sub_total}}</td>
                              </tr>
                              <tr style="font-weight: bold; font-size: 16px;">
                                  <td>Discount</td>
                                  <td>Ksh {{discount}}</td>
                              </tr>
                              <tr style="font-weight: bold; font-size: 16px;">
                                  <td>VAT(16%)</td>
                                  <td>Ksh {{vat}}</td>
                              </tr>
                              <tr style="font-weight: bold; font-size: 16px;">
                                  <td>Total</td>
                                  <td>Ksh {{total}}</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
        </div>
        </div>
    </div> 

</div>


<script>

    function checkoutAndReceipt(){
         
         document.getElementById("receipt-btn").click()
         document.getElementById("check-out-btn").click()

    }


    function showInvoiceModal(){
       $('#invoiceModal').modal('show')
    }

    document.body.addEventListener('htmx:afterSwap', function (e) {
    if (e.detail.target.id === "invoiceCreateResp") {
      // Manually update another element
      document.querySelector("#sellResp").innerHTML = "🛒🛒Add Items to Cart";
    }
  });
</script>


{% endblock mainContent %}