{% extends 'firstapp/base.html' %}  



{% block mainContent %}
<style>

    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1
    }
    .htmx-request.htmx-indicator{
        opacity:1
    }
</style>
<div class="container">

    <div class="row row-cols row-cols-lg-2">
        <div class="col">
            <div class="row">
            <div class="d-flex">
                <div class="col-3">
                    <input class="form-control" type="text" hx-post="{% url 'search-by-scan' %}" hx-target="#filterResp" hx-indicator="#searchSpinner"  hx-trigger="change" name="serial" placeholder="scan" >
                </div>
                <div class="col-3">
                    <input class="form-control" type="text" hx-post="{% url 'search-by-name' %}" hx-target="#filterResp" hx-indicator="#searchSpinner" hx-trigger="keyup changed delay:1s" name="name" placeholder="search by name">
                </div>
                <div class="col-3">
                    <input class="form-control" type="text" hx-post="{% url 'search-by-category' %}" hx-target="#filterResp" hx-indicator="#searchSpinner" hx-trigger="keyup changed delay:1s" name="category" placeholder="search by category">
                </div>
                <div class="col-3">
                    <input class="form-control" type="text" hx-post="{% url 'search-by-desc' %}" hx-target="#filterResp" hx-indicator="#searchSpinner" hx-trigger="keyup changed delay:1s" name="desc"  placeholder="search by description">
                </div>
            </div>
        </div>

        <br>
        <div id="searchSpinner" class="htmx-indicator">
        <div class="spinner-grow spinner-grow-sm" ></div>
        <p>Searching..</p>
        </div>
           
        <div style="height:800px; overflow-y:scroll">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th> category </th>
                    <th> Description </th>
                    <th>Price </th>
                    <th> Status </th>
                    <th> sell </th>
                    </tr>
                </thead>

                <tbody id="filterResp">
                    {% for stock in stocks %}
                    <tr>
                        <td>{{stock.p_name}}</td>
                        <td>{{stock.p_category}}</td> 
                        <td>{{stock.p_desc}}</td>
                        <td>{{stock.p_price}}</td>
                        {% if stock.p_qty > 5 %}
                        <td><strong style="color:green">high</strong></td>
                        {% else %}
                        <td><strong style="color:red">high</strong></td>
                        {% endif %}
                       <td><a hx-get="{% url 'add-to-cart' stock.pk %}" hx-target="#sellResp" class="btn btn-primary">sell


                       </a>
                    </tr>

                    {% endfor %}

                </tbody>


            </table>
        </div>
        
        </div>

        <div class="col">
            <h4>Cart Items </h4>
            <div id="dispResp">
            </div>
            <div class="row">

                
                <div class="col-sm-3">
                <a class="btn btn-light" hx-get="{% url 'print-cart-receipt' %}" hx-target="#receiptResp">
                <i class="fa fa-print"></i>Receipt
                </a>
                <div id="receiptResp" style="display:none">
                </div>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-light" hx-get="{% url 'cart-to-sales' %}" hx-target="#sellResp" hx-indicator='#checkoutSpin'>
                <i class="fa fa-check"></i>checkout 
                </a>
                <div class="spinner-border htmx-indicator" id="checkoutSpin" role="status">
                    <span class="sr-only">adding..</span>
                </div>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-light" hx-get="{% url 'clear-cart' %}" hx-target="#sellResp" hx-indicator='#clearSpin'>
                <i class="fa fa-trash"></i>clear
                </a>
                <div class="spinner-border htmx-indicator" id="clearSpin" role="status">
                    <span class="sr-only">del..</span>
                </div>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-light" onclick="location.reload()">
                <i class="fa fa-refresh"></i>Refresh
                </a>
               
            </div>
            </div>
            <br>

            <div class="col" id="sellResp">
                <div class="row" style="height:500px; overflow-y:scroll;" id="nosalesRep">
                    <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Qty</th>
                              <th>Total</th>
                              <th>Remove </th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for cart in carts %}
                          <tr>
                              <td>{{cart.cart_stock.p_name}}</td>
                              <td>{{cart.cart_stock.p_price}}</td>
                              <td><input type="number" value="{{cart.qty}}" hx-post="{% url 'update-cart-qty' cart.pk %}" hx-trigger="change" hx-target="#sellResp" name="itemQty" class="form-control" style="width:80px; height:50px;"></td>
                              <td>Ksh {{cart.price}}</td>
                              <td> <a class="btn btn-danger" hx-get="{% url 'del-cart-item' cart.pk %}" hx-target="#sellResp"><i class="fa fa-trash"></i></a></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                   <div class="row">
                      <table>
                          <tbody>
                              <tr style="font-weight: bold; font-size: 16px;">
                                  <td>Subtotal</td>
                                  <td>Ksh {{sub_total}}</td>
                              </tr>
                              <tr style="font-weight: bold; font-size: 16px;">
                                  <td>VAT(16%)</td>
                                  <td>Ksh {{vat}}</td>
                              </tr>
                              <tr style="font-weight: bold; font-size: 16px;">
                                  <td>Total</td>
                                  <td>Ksh {{total}}</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
        </div>
        </div>
    </div> 

</div>



{% endblock mainContent %}