{% extends 'firstapp/base.html' %}      
        <!-- Main content -->
    {% block mainContent %}
    
    <!-- Button trigger modal -->
<button style="margin-left:10px; border:0px" type="button"  data-toggle="modal" data-target="#dateModal">
 <i class="fa fa-filter"></i>by date
</button>

<div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#24a0ed">
        <h5 class="modal-title" id="exampleModalLabel">filter by date</h5>
        <div id="spinners" class="spinner-border" role="status" style="margin-left:150px; display:none">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        
           <label>from</label>
           <input type="date" name="date1" id="date1">
           <label>To</label>
           <input type="date" name="date2" id="date2">
           <button type="button" id="filtForm">filter</button>
        
      </div>
    </div>
  </div>
</div>

<!-- inbound modal -->
<div class="modal fade" id="inboundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#24a0ed">
        <h5 class="modal-title" id="exampleModalLabel"> Quick Inbound</h5>
        <div id="spinner2" class="spinner-border" role="status" style="margin-left:150px; display:none">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBdy">
        
         
         
        <label>item </label>&nbsp;&nbsp;
           <select id="item" style="width:150px;">
             {% for product in products %}
             <option value="{{product.p_name}}">{{product.p_name}}</option>
               {% endfor %}
           </select>
         
         <label>shop </label>&nbsp;&nbsp;
       
            <select id="shop" style="width:150px;">
              {% for product in products %}
             <option value="{{product.p_shop.shop_name}}">{{product.p_shop.shop_name}}</option>
             {% endfor %}
           </select>
          <br><br>
          <label>qty</label>
           <input type="number" name="qty" id="qty" style="width:150px; margin-left:18px;">
           <label>date</label>
           <input type="date" name="date" id="date" style="width:150px;">
           <br>
           <label>remarks</label>
           <br>
           <textarea cols="50" id="remarks"></textarea>
           <br><br>
           <button type="button" id="inboundForm"  style="margin-left:200px;">inbound</button>
         
      </div>
    </div>
  </div>
</div>
<!-- transfer modal -->
<div class="modal fade" id="transModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#24a0ed">
        <h5 class="modal-title" id="exampleModalLabel"> Transfers qty-wise</h5>
        <div id="spinner3" class="spinner-border" role="status" style="margin-left:150px; display:none">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBdy">
        
          <label style="margin-left: 10px;">From</label>&nbsp;&nbsp;
            <select id="shop1" style="width:150px;">
              {% for product in products %}
             <option value="{{product.p_shop.shop_name}}">{{product.p_shop.shop_name}}</option>
             {% endfor %}
           </select>
         
         <label>To </label>&nbsp;&nbsp;
       
            <select id="shop2" style="width:150px;">
              {% for product in products %}
             <option value="{{product.p_shop.shop_name}}">{{product.p_shop.shop_name}}</option>
             {% endfor %}
           </select>
          <br><br>
          <label style="margin-left: 10px;">qty</label>
           <input type="number" name="qty" id="transqty" style="width:150px; margin-left:18px;">
           <label>item</label>
               <select id="transitem" style="width:150px;">
              {% for product in products %}
             <option value="{{product.p_name}}">{{product.p_name}}</option>
             {% endfor %}
           </select>
           <br>
           <label style="margin-left: 10px;">remarks</label>
           <br>
           <textarea style="margin-left: 20px;" cols="35" id="transremarks"></textarea>
           <br><br>
           <button type="button" id="transferForm"  style="margin-left:200px;">Transfer</button>
         
    
         
      </div>
    </div>
  </div>
</div>

<a id="downTab" style=""><i class="fa fa-download"></i></a>
<div id="spinner3" class="spinner-border" role="status" style="margin-left:150px; display: none;">
          <span class="sr-only">Loading...</span>
        </div>
<button class="btn btn-primary"  style="margin-left:420px" data-toggle="modal" data-target="#inboundModal">inbound</button>
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-sliders">Transfers</i>
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li> <button  style="margin-left:0px; width:200px; border-width: 0px;"  type="button" data-toggle="modal" data-target="#transModal"><i class="fa fa-folder">bulky</i></button></li>
            <br>
          <li><button style="margin-left:0px; width:200px; border-width: 0px;"  type="button" data-toggle="modal" data-target="#transModal"><i class="fa fa-bars">serial</i></button></li>
          
        </ul>


     
          

    
 
    <table class="table align-middle mb-0 bg-white" style="margin-left:10px;" id="stocks">
      <input style="margin-left:20px" list="stocksList" id="pname" name="pname" placeholder="search product here..." />
    <br><br>
    <datalist id="stocksList">
          {% for product in products %}
          <option value="{{product.p_name}}">{{product.p_name}}</option>
          {% endfor %}
    </datalist>
        <thead class="bg-light">
          <tr>
            <th>Product Image</th>
            <th>Product name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Status</th>
            <th>shop name</th>
            <th>Creator</th>
            <th>Actions</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody id="stocks">
            {% for product in products %}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="{{product.p_image.url}}"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                
              </div>
            </td>
            <td>
              {{product.p_name}}
            </td>
            <td>
                {{product.p_category}}
              </td>
              <td>
                {{product.p_desc}}
              </td>
              <td>
                {{product.p_qty}}
              </td>
              <td>
                {{product.p_price}}
              </td>
              <td>
                {{product.p_cost}}
              </td>
            <td>
              {% if product.p_qty < 5 %}
              <span class="badge badge-danger rounded-pill d-inline">low</span>
              {% else %}
                 <span class="badge badge-success rounded-pill d-inline">Active</span>
              {% endif %}
            </td>
            <td>{{product.p_shop.shop_name}}</td>
            <td>{{product.p_creator}}</td>
            <td>
              <a href="{% url 'firstapp-updatestocks' product.p_id %}">
              <button type="button" class="btn btn-link btn-sm btn-rounded">
                Edit
              </button>
              </a>
            </td>
            <td>
              {{product.p_created}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
       

            
      </table>
    </div>
    <!--
        <div style="margin-left:20px">
          {% if page_obj.has_previous %}
              <a class="btn btn-info mb-4" href="?page=1">first</a>
              <a class="btn btn-info mb-4" href="?page={{page_obj.previous_page_number}}">prev</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
             {% if page_obj.number == num %}

                  <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                  
              {% elif num > page_obj.number|add:'-2' and  num < page_obj.number|add:'2' %}

                  <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>                    
              {% endif %}

             
          {% endfor %}
          
          {% if page_obj.has_next %}

              <a class="btn btn-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
              <a class="btn btn-info mb-4" href="?page={{page_obj.paginator_num_pages}}">Last</a>

          {% endif %}
        </div>
      -->
      
      <script>

        $(document).ready(function(){
        $("#pname").on("keyup",function(){
            var value=$(this).val().toLowerCase();
            $("#stocks tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
// ====================submitting date filter form ===============

$(document).ready(function(){

  $("#filtForm").click(function(){

       $.ajax({
         type: "POST",
         url: "{% url 'firstapp-stockspost' %}",
         data:{
           date1: $("#date1").val(),
           date2: $("#date2").val(),
           csrfmiddlewaretoken:'{{ csrf_token }}'

         },
         beforeSend:function(){
             
              $("#spinners").show()
         },
         complete:function(){
             $("#spinners").hide()
         },
         success:function(data,status){
            var info = JSON.parse(data)
            $("#stocks").html('')
            for( var key in info){
              $("#stocks").prepend(

              `
                <tr>
                  <td>${info[key]["fields"]["p_serial"]}</td>
           
                    <td>${info[key]["fields"]["p_name"]}</td>
                    <td>${info[key]["fields"]["p_category"]}</td>
                    <td>${info[key]["fields"]["p_desc"]}</td>
                    <td>${info[key]["fields"]["p_qty"]}</td>
                    <td>${info[key]["fields"]["p_price"]}</td>
                    <td>${info[key]["fields"]["p_cost"]}</td>
                    <td>
              <span class="badge badge-success rounded-pill d-inline">Active</span>
                   </td>
                   <td>${info[key]["fields"]["p_creator"]}</td>
                   <td>
              <a href="">
              <button type="button" class="btn btn-link btn-sm btn-rounded">
                Edit
              </button>
              </a>
              </td>
              <td>${info[key]["fields"]["p_created"]}</td>
                  </tr>

              `


              )
              //alert(info[key]["fields"]["p_serial"])
            }
         }



       })
  })

 
})
// end of submitting date filter form

// ==== post inbound data 

$(document).ready(function(){

$("#inboundForm").click(function(){

       $.ajax({
           
           type:"POST",
           url:"{% url 'firstapp-stocksinbound' %}",
           data:{
               
               item:$("#item").val(),

               qty: $("#qty").val(),

               shop: $("#shop").val(),
                
               remarks:$("#remarks").val(),

               csrfmiddlewaretoken:'{{ csrf_token }}'





           },
           beforeSend:function(){
             
              $("#spinners2").show()
         },
         complete:function(){
             $("#spinners2").hide()
         },

           success:function(data,status){
                alert("stocks added successfully")

           }

       })

})

})
// ========end inbound form submission===

// ====== transfer form submission    

$(document).ready(function(){
 
  $("#transferForm").click(function(){
      
      $.ajax({
           
           type:"POST",
           url:"{% url 'firstapp-stockstransfer' %}",
           data:{
               
               item:$("#transitem").val(),

               qty: $("#transqty").val(),

               shop1: $("#shop1").val(),

               shop2: $("#shop2").val(),
                
               remarks:$("#transremarks").val(),

               csrfmiddlewaretoken:'{{ csrf_token }}'





           },
           beforeSend:function(){
             
              $("#spinners3").show()
         },
         complete:function(){
             $("#spinners3").hide()
         },

           success:function(data,status){
            if (data["error"]){
                alert(data["error"])
              }else if(data["added"]){
                data["added"]
              }else{
                alert("transfer was successfull")
              }

           }

       })
  })

})

    function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
	var csv = [];
	var rows = document.querySelectorAll("table tr");
	
    for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");
		
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
		csv.push(row.join(","));		
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.getElementById("downTab").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    var now = new Date().toLocaleDateString()
    var fileName = 'stocks' + now
	export_table_to_csv(html, fileName);
});


      </script>

    {% endblock mainContent %}