{% extends 'firstapp/base.html' %}      
        <!-- Main content -->
    {% block mainContent %}
    
    <!-- Button trigger modal -->
<button style="margin-left:10px; border:0px" type="button"  data-toggle="modal" data-target="#dateModal">
 <i class="fa fa-filter"></i>by date
</button>

<!-- Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#24a0ed">
        <h5 class="modal-title" id="exampleModalLabel">filter by date</h5>
        <div id="spinners" class="spinner-border" role="status" style="margin-left:150px; display:none">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBdy">
        
      
          
           <label>from</label>
           <input type="date" name="date1" id="date1">
           <label>To</label>
           <input type="date" name="date2" id="date2">
           <button type="button" id="filtForm">filter</button>
        
      </div>
    </div>
  </div>
</div>

<!-- inbound modal -->
<div class="modal fade" id="inboundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#24a0ed">
        <h5 class="modal-title" id="exampleModalLabel"> Quick Inbound</h5>
        <div id="spinners" class="spinner-border" role="status" style="margin-left:150px; display:none">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBdy">
        
         
         
        <label>item </label>&nbsp;&nbsp;
           <select id="item">
             {% for product in products %}
             <option value="{{product.p_name}}">{{product.p_name}}</option>
               {% endfor %}
           </select>
         
         <label>shop </label>&nbsp;&nbsp;
       
            <select id="shop">
              {% for product in products %}
             <option value="{{product.p_shop.shop_name}}">{{product.p_shop.shop_name}}</option>
             {% endfor %}
           </select>
          <br><br>
           qty<input type="number" name="qty" id="qty">
           <button type="button" id="filtForm">filter</button>
         
      </div>
    </div>
  </div>
</div>
<a id="downTab" style="margin-left:650"><i class="fa fa-download"></i></a>
<button class="btn btn-primary" style="margin-left:520px" data-toggle="modal" data-target="#inboundModal">inbound</button>

    <input style="margin-left:720px" list="stocksList" id="pname" name="pname" placeholder="search product here..." />
    <br><br>
    <datalist id="stocksList">
          {% for product in products %}
          <option value="{{product.p_name}}">{{product.p_name}}</option>
          {% endfor %}
    </datalist>
   
    <table class="table align-middle mb-0 bg-white" style="margin-left:10px;" >
        <thead class="bg-light">
          <tr>
            <th>Product Image</th>
            <th>Product name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Status</th>
            <th>Creator</th>
            <th>Actions</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody id="stocks">
            {% for product in products %}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="{{product.p_image.url}}"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                
              </div>
            </td>
            <td>
              {{product.p_name}}
            </td>
            <td>
                {{product.p_category}}
              </td>
              <td>
                {{product.p_desc}}
              </td>
              <td>
                {{product.p_qty}}
              </td>
              <td>
                {{product.p_price}}
              </td>
              <td>
                {{product.p_cost}}
              </td>
            <td>
              <span class="badge badge-success rounded-pill d-inline">Active</span>
            </td>
            <td>{{product.p_creator}}</td>
            <td>
              <a href="{% url 'firstapp-updatestocks' product.p_id %}">
              <button type="button" class="btn btn-link btn-sm btn-rounded">
                Edit
              </button>
              </a>
            </td>
            <td>
              {{product.p_created}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
       

            
      </table>
    <!--
        <div style="margin-left:20px">
          {% if page_obj.has_previous %}
              <a class="btn btn-info mb-4" href="?page=1">first</a>
              <a class="btn btn-info mb-4" href="?page={{page_obj.previous_page_number}}">prev</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
             {% if page_obj.number == num %}

                  <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                  
              {% elif num > page_obj.number|add:'-2' and  num < page_obj.number|add:'2' %}

                  <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>                    
              {% endif %}

             
          {% endfor %}
          
          {% if page_obj.has_next %}

              <a class="btn btn-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
              <a class="btn btn-info mb-4" href="?page={{page_obj.paginator_num_pages}}">Last</a>

          {% endif %}
        </div>
      -->
      
      <script>
        $(document).ready(function(){
        $("#pname").on("keyup",function(){
            var value=$(this).val().toLowerCase();
            $("#stocks tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
// ====================submitting form ===============

$(document).ready(function(){

  $("#filtForm").click(function(){

       $.ajax({
         type: "POST",
         url: "{% url 'firstapp-stockspost' %}",
         data:{
           date1: $("#date1").val(),
           date2: $("#date2").val(),
           csrfmiddlewaretoken:'{{ csrf_token }}'

         },
         beforeSend:function(){
             
              $("#spinners").show()
         },
         complete:function(){
             $("#spinners").hide()
         },
         success:function(data,status){
            var info = JSON.parse(data)
            $("#stocks").html('')
            for( var key in info){
              $("#stocks").prepend(

              `
                <tr>
                  <td>${info[key]["fields"]["p_serial"]}</td>
           
                    <td>${info[key]["fields"]["p_name"]}</td>
                    <td>${info[key]["fields"]["p_category"]}</td>
                    <td>${info[key]["fields"]["p_desc"]}</td>
                    <td>${info[key]["fields"]["p_qty"]}</td>
                    <td>${info[key]["fields"]["p_price"]}</td>
                    <td>${info[key]["fields"]["p_cost"]}</td>
                    <td>
              <span class="badge badge-success rounded-pill d-inline">Active</span>
                   </td>
                   <td>${info[key]["fields"]["p_creator"]}</td>
                   <td>
              <a href="">
              <button type="button" class="btn btn-link btn-sm btn-rounded">
                Edit
              </button>
              </a>
              </td>
              <td>${info[key]["fields"]["p_created"]}</td>
                  </tr>

              `


              )
              //alert(info[key]["fields"]["p_serial"])
            }
         }



       })
  })

 
})

    function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
	var csv = [];
	var rows = document.querySelectorAll("table tr");
	
    for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");
		
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
		csv.push(row.join(","));		
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.getElementById("downTab").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    var now = new Date().toLocaleDateString()
    var fileName = 'stocks' + now
	export_table_to_csv(html, fileName);
});

      </script>

    {% endblock mainContent %}