{% extends 'firstapp/base.html' %}      
        <!-- Main content -->
    {% block mainContent %}
    
    <!-- Button trigger modal -->



<!--===============================return item modal===========================-->


  <!-- ============================================================================================================-->


    <input style="margin-left:620px" list="stocksList" id="pname" name="pname" placeholder="search product here..." />
    <br><br>
  

    
    
    <table class="table align-middle mb-0 bg-white" style="margin-left:10px" id="sales">
        <thead class="bg-light">
          <tr>
            
            <th>Serial</th>
            <th>Name</th>
            <th>shop</th>
            <th>Qty</th>
           
            <th>price</th>
            <th>profit</th>
            <th>Status</th>
            <th>Created</th>
            <th>Actions</th>
            <th>Person</th>
          </tr>
        </thead>
        <tbody id="sales-off">
          
        </tbody>
       

            
      </table>
      <div id="terminal" style="color:greenyellow; background-color: black; height:150px; overflow-y: scroll; ">
        

        <p>$>></p>
      </div>

      
      <script>
// =========================keyup filter by product name
        $(document).ready(function(){
        $("#pname").on("keyup",function(){
            var value=$(this).val().toLowerCase();
            $("#sales tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

// ==============displays all sales in indexdb
 dbPromise2.then( function(db){
    
  var tx = db.transaction('sales','readonly');
  var stocksStore = tx.objectStore('sales');
  return stocksStore.openCursor();
 
  }).then(function logItems(cursor){
 
   if (!cursor){
 
       return;
   }

 

        for(value in cursor.value){
      
          if (value=="fields"){


              

              

                 
                $("#sales-off").prepend(
                  
                  `
                  <tr>
                  <td>${cursor.value[value]["receipt"]} -- ${cursor.value["pk"]}</td>
                   <td>${cursor.value[value]["name"]}</td>
                    <td></td>
                     <td> ${cursor.value[value]["qty"]}</td>
                      <td> ${cursor.value[value]["total"]}</td>
                      <td> </td>
                      <td>offline</td>
                      <td> </td>
                      <td ><a class="btn btn-success" onclick="sendRow('${cursor.value["pk"]}','${cursor.value[value]["pid"]}','${cursor.value[value]["receipt"]}','${cursor.value[value]["qty"]}')"><i class="fa fa-plane"></i></a><a class="btn btn-danger" onclick="remRow('${cursor.value["pk"]}')"><i class="fa fa-times"></i></a></td>
                      <td> ${cursor.value[value]["waiter"]}</td>
                 
                  
                 
              </tr>
                  
                  
                  `
      
                )
      
              
          }
        }
      
   
 
        return cursor.continue().then(logItems);
       
       });

// ======deletes sale in indexdb upon button click
  function remRow(pk){


  	   dbPromise2.then(function(db){

   var tx = db.transaction('sales', 'readwrite');
     var salesStore = tx.objectStore('sales');
     salesStore.delete(pk)
    
     alert(pk+" successfully removed")
   
  });
  }

// ======pushes offline sales i.e from indexdb to online

function sendRow(pk,id,receipt,qty){

  if(navigator.onLine){

 $.post("{% url 'commit-sales' %}",{
    id:id,
    receipt:receipt,
    qty:qty,
    csrfmiddlewaretoken:'{{ csrf_token }}',

 },
 
 function(data,status){

  dbPromise2.then(function(db){

   var tx = db.transaction('sales', 'readwrite');
     var salesStore = tx.objectStore('sales');
     salesStore.delete(pk)
    
     $("#terminal").append(


      `
      <p>$>>${pk} removed ...offline *** </p>

      `

      )
   
  });
 
 $("#terminal").append(


      `
      <p>$>>${data} *** </p>

      `

      )


 }
   

 )
 }else{

 $("#terminal").append(


      `
      <p>$>>offline!! sale cannot be posted</p>

      `

      )
    
 }

}


// ======pushes offline sales i.e from indexdb to online after every 10 secs\

setInterval(onlinePush,5000)
function onlinePush(){

if(navigator.onLine){


   dbPromise2.then( function(db){
    
  var tx = db.transaction('sales','readonly');
  var stocksStore = tx.objectStore('sales');
  return stocksStore.openCursor();
 
  }).then(function logItems(cursor){
 
   if (!cursor){
 
       return;
   }

 

        for(value in cursor.value){
      
          if (value=="fields"){


              

              
               sendRow(cursor.value["pk"],cursor.value[value]["pid"],cursor.value[value]["receipt"],cursor.value[value]["qty"])
                 
              
          }
        }
      
   
 
        return cursor.continue().then(logItems);
       
       });

}

}


</script>
      

    {% endblock mainContent %}
